<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>score</title>
</head>

<body style="background-color:lightcoral">
<center><h1>Student's details </h1></center><br><br>


<form  method="post">
<center>
    NAME :  <input type ="text" name='nm' placeholder="Enter Student Name" required><br><br>
    Physics : <input type="text" name='fnum' placeholder="Enter your physics marks " required><br><br>
    Chemistry : <input type="text" name='snum' placeholder="Enter your Chemistry's marks" required><br><br>
    Maths : <input type="text" name='tnum' placeholder="Enter your math's marks" required><br><br>
    English : <input type="text" name='frnum' placeholder="Enter your English's marks" required><br><br>

     <input type="submit"> <br><br>
</center>
</form>
</body>
</html>
